<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.helloworld" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>p5</name>
    <description>
        p5 demo
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        ShaneGap Team
    </author>
    <content src="index.html" />
    <platform name="android">
    <icon src="www/res/icon/icon.png"></icon>
    </platform>
    <access origin="*" />
    
    <plugin name="cordova-plugin-device-orientation" spec="~2.0.0" />
</widget>
